// Custom styles.

body {
    font-family: "Noto Sans-serif", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.5;
    font-family: sans-serif;
}

.post-body h1, h2 {
    border-bottom: 1px solid #ddd;
    margin-top: 20px;
    margin-bottom: 10px;
}

.posts-expand .post-title {
    font-weight: bold;
    font-family: sans-serif;
    border-bottom: none;
    font-size: 3em;
}

.posts-expand .post-meta {
    text-align: right;
}

#menu .menu-item a {
    color: #999;
    font-size: 1.1rem;
}

a {
    color: #258fb8;
    text-decoration: none;
    border-bottom: none;
}

a:hover {
    color: #155fd8;
    text-decoration: underline;
}

